root = true

[*.kt]
max_line_length = 120
ktlint_standard_no-wildcard-imports = enabled
indent_size = 4
ktlint_standard_final-newline = enabled
ktlint_standard_modifier-order = enabled
ktlint_standard_import-ordering = enabled

ktlint_standard_no-tabs = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled

ktlint_standard_no-wildcard-imports_excludes = java.util.*